/* Waste Management Section */
.waste-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    max-width: 90%;
    margin: 50px auto 20px;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Waste Status Boxes */
.waste-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Sort Button */
.sort-button {
    background-color: #7b4e83;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Supplier Section Heading */
.waste-section h2 {
    font-size: 28px;
    color: #7b4e83;
    font-weight: 700;
}
/* Search Bar */
.search-bar {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #000000;
}

/* Waste Table */
.waste-table {
    width: 100%;
    border-collapse: collapse;
}

.waste-table th, .waste-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.waste-table th {
    background-color: #7b4e83;
    color: #fff;
}

.waste-table tr:hover {
    background-color: #f1f1f1;
}

/* Waste Container */
.waste-container {
    position: relative;
    width: 700px;
    background-color: #61396f;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-left: 410px;
}

/* Dropdown Button for Waste Details */
#waste-details-dropdown {
    cursor: pointer;
    color: #f8f8ff;
    background-color: #61396f;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

/* Expanded Waste Details */
.expanded-waste-details {
    display: none;
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 10px;
    color: #f8f8ff;
}

/* Edit Button */
.edit-btn {
    background-color: #28a745; /* Green color */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for Edit Button */
.edit-btn:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Record Waste Button */
.record-waste-btn {
    background-color: #7b4e83;
    color: white;
    padding: 8px 16px;
    margin: 0 10px; /* Space between buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

/* Hover effect for Record Waste Button */
.record-waste-btn:hover {
    background-color: #61396f; 
}

/* Adjust header layout for better alignment */
.waste-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    margin-bottom: 20px;
}

.search-bar {
    margin-left: auto; /* Align search bar to the right */
}
